<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <meta charset="utf-8">
    {% if title %}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}

    <script>
        <!--
        function func1(id) {
            var myD = document.getElementById(id);
            console.log(id)
            //alert(myD.innerHTML)
            //myD.innerHTML += id
            //var Txt1 = "";
            //var Txt2 = "";
            //Txt1 = document.test.bb.value;
            //Txt2 = document.test.bb.name;
            //alert('hello');
            //alert(Txt1.bold());
        }

        function select(result, days_enum, group_name, teacher_name) {
            clear_tabel();
            if (group_name.length > 1)
                for (var i = 0; i < result[0].length; i++) {
                    if (result[1][i].group_name == group_name) {
                        var myD = document.getElementById(days_enum[result[0][i].day_week] + result[0][i].pair);
                        myD.innerText = result[3][i].lesson_name + ' ' + result[2][i].teacher_name + ' ' + result[0][i].num_room;
                    }
                }
            if (teacher_name.length > 1)
                for (var i = 0; i < result[0].length; i++) {
                    if (result[2][i].teacher_name == teacher_name) {
                        var myD = document.getElementById(days_enum[result[0][i].day_week] + result[0][i].pair);
                        myD.innerText = result[3][i].lesson_name + ' ' + result[2][i].teacher_name + ' ' + result[0][i].num_room;
                    }
                }
        }

        function clear_tabel() {
            for (var i = 1; i <= 5; i++) {
                for (var j = 1; j <= 5; j++) {
                    var myD = document.getElementById(String(i) + String(j));
                    myD.innerHTML = '';
                }
            }
        }

        //-->
    </script>
</head>
<body>

<style>
    .tb {
        border: 1px solid #C0C0C0;
    }

    .tr {
        border: 1px solid #C0C0C0;
    }

    .th {
        border: 1px solid #C0C0C0;
    }

    .td {
        width: 150px;
        height: 100px;
        border: 1px solid #C0C0C0;
    }

    table {
        margin: 0 auto;
    }

    th {
        text-align: center;
    }

    td {
        padding: 2px;

    }

    tr {
        vertical-align: top;
        align: center;
        text-align: center;
    }
</style>

{% extends "base.html" %}
{% block content %}

<form action="" method="POST" name="test">
    {{ form.hidden_tag() }}
    <table>
        <tr>
        <tr>
            <td>
                Группы:
            </td>
        </tr>
        <td>

            <select name="group_select" size="15" multiple="multiple">
                {% for group in groups %}
                <option style="width: 120px;"
                        onclick="select({{test|safe}},{{days_enum|safe}}, '{{group.group_name}}', '')">
                    {{group.group_name}}
                </option>
                {% endfor %}
            </select>
        </td>
        <td>
            <table>
                <tr>
                    <td style="border: 1px solid #C0C0C0;">
                        ПН
                    </td>
                    <td style="border: 1px solid #C0C0C0;">
                        ВТ
                    </td>
                    <td style="border: 1px solid #C0C0C0;">
                        СР
                    </td>
                    <td style="border: 1px solid #C0C0C0;">
                        ЧТ
                    </td>
                    <td style="border: 1px solid #C0C0C0;">
                        ПТ
                    </td>
                </tr>
                {%for row in range(5) %}
                {% for col in range(5) %}

                <td class="td">

                    <div onclick="func1('{{(row+1)|string + (col+1)|string}}')"
                         id="{{(row+1)|string + (col+1)|string}}">
                    </div>
                </td>
                {% endfor %}
                <tr></tr>
                {% endfor %}
            </table>
        </td>
        <td>
            <select name="teacher_select" size="15" multiple="multiple">
                {% if groups %}
                {% for teacher in teachers %}
                <option style="width: 120px;"
                        onclick="select({{test|safe}},{{days_enum|safe}},'' , '{{teacher.teacher_name}}')">
                    {{teacher.teacher_name}}
                </option>
                {% endfor %}
                {% endif %}
            </select>
        </td>
        </tr>
    </table>
</form>
{% endblock %}
</body>
</html>

