<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <style type="text/css">
        .tabs {
            width: 100%;
            padding: 0px;
            margin: 0 auto;
        }

        .tabs > input {
            display: none;
        }

        .tabs > div {
            display: none;
            padding: 12px;
            border: 1px solid #C0C0C0;
        }

        .tabs > label {
            display: inline-block;
            padding: 7px;
            margin: 0 -5px -1px 0;
            text-align: center;
            color: #666666;
            border: 1px solid #C0C0C0;
            background: #E0E0E0;
            cursor: pointer;
        }

        .tabs > input:checked + label {
            color: #000000;
            border: 1px solid #C0C0C0;
            border-bottom: 1px solid #FFFFFF;
            background: #FFFFFF;
        }

        #tab_1:checked ~ #teachers,
        #tab_2:checked ~ #groups,
        #tab_3:checked ~ #lessons {
            display: block;
        }

        /* внешние границы таблицы серого цвета толщиной 1px */
        table {
            margin: 0 auto;
            border: 1px solid #C0C0C0;
        }

        /* границы ячеек первого ряда таблицы */
        th {
            text-align: center;
            border: 1px solid #C0C0C0;
        }

        /* границы ячеек тела таблицы */
        td {
            margin: 0 auto;
            border: 1px solid #C0C0C0;
        }

        tr {
            vertical-align: top;
            align: center;
            text-align: center;
            border: 1px solid #C0C0C0;
        }

        .tb {
            border: 1px solid #C0C0C0;
        }

        .tr {
            border: 1px solid #C0C0C0;
        }

        .th {
            border: 1px solid #C0C0C0;
        }

        .td {
            border: 1px solid #C0C0C0;
        }

    </style>
    <script>
        var lessons = {{lessons|safe}};
        var teachers = {{teachers|safe}};
        var teacher_id = -1;
        function add_t() {
            data = document.getElementById('data_d');
            data.innerHTML = '<table>' +
                '<tr><td colspan="3"><input type="text" name="add_teacher" value="" placeholder="ФИО Преподавателя" style="width: 270px;"></td></tr>' +
                '    <tr>\n' +
                '        <td>\n' +
                create_select_lesson_left()+
                '        </td>\n' +
                '        <td><br><input type="button" value=">>" onclick="move_right()">\n' +
                '            <p></p><input type="button" value="<<" onclick="move_left()"></td>\n' +
                '        <td><select name="select_lesson_right" id="select_lesson_right" size="8" style="width: 200px;">\n' +
                '        </select></td>\n' +
                '    </tr>' +
                '<tr><td colspan="3"><button name="Submit" value="Добавить"  type="submit" onclick="add_teacher_f()">Добавить</button></td></tr>' +
                '</table>';
        }

        function edit_t() {
            data = document.getElementById('data_d');
            data.innerHTML = '<table>' +
                '<tr><td colspan="3">' + select_t() + '</td></tr>' +
                '<tr><td colspan="3"><input type="text" name="new_teacher_name" id="new_teacher_name" value="" placeholder="Новое ФИО" style="width: 270px;"></td></tr>' +
                '    <tr>\n' +
                '        <td>\n' +
                create_select_lesson_left() +
                '        </td>\n' +
                '        <td><br><input type="button" value=">>" onclick="move_right()">\n' +
                '            <p></p><input type="button" value="<<" onclick="move_left()"></td>\n' +
                '        <td id="select_right"><select name="select_lesson_right" id="select_lesson_right" size="8" style="width: 200px;">\n' +
                '        </select></td>\n' +
                '    </tr>' +
                '<tr><td colspan="3"><button name="Submit" value="Редактировать"  type="submit" onclick="add_teacher_f()">Редактировать</button></td></tr>' +
                '</table>'
        }

        function select_t() {
            select_teacher = '<select name="select_teacher" id="select_teacher" style="width: 270px;" onchange="change_select_teacher()"><option></option>';
            for (var i = 0; i < teachers.length; i++) {
                select_teacher+='<option>'+teachers[i].teacher_name+'</option>'
            }
            return select_teacher + '</select>';
        }

        function del_t() {
            data = document.getElementById('data_d');
            data.innerHTML = '<table>' +
                '<tr><td colspan="3">' + select_t() + '</td></tr>' +
                '<tr><td colspan="3"><button name="Submit" value="Удалить"  type="submit" >Удалить</button></td></tr>' +
                '</table>'
        }

        function update_select_teacher_right() {
            if (teacher_id != -1) {
                var td = document.getElementById('select_right');
                var new_name = document.getElementById('new_teacher_name');
                var select_teacher = document.getElementById('select_teacher');
                new_name.value = select_teacher.value;
                select_right = '<select name="select_lesson_right" id="select_lesson_right" size="8" style="width: 200px;">';

                js = JSON.parse(teachers[teacher_id].available_lessons);
                console.log(teachers[teacher_id].teacher_name);
                for (var i = 0; i < js['count']; i++) {
                    for (var j = 0; j < lessons.length; j++) {
                        if(lessons[j].id == js[i]){
                            console.log(lessons[j].lesson_name);
                            select_right += '<option>'+lessons[j].lesson_name+'</option>';
                            break;
                        }
                    }
                }

                select_right += '</select>';
                td.innerHTML = select_right;
            }
        }

        function change_select_teacher() {
            var select_teacher = document.getElementById('select_teacher');
            for (var i = 0; i < teachers.length; i++) {
                if(select_teacher.value == teachers[i].teacher_name){
                    teacher_id = i;
                    break;
                }
            }
            update_select_teacher_right();
        }

        function add_teacher_f(){
            var myForm = document.getElementById('add_data');
            var select_right = document.getElementById('select_lesson_right');
            var myInput = document.createElement('input');
            var js = '{';
            myInput.style.background = 'rgba( 0,0,0,6)';
            myInput.name = "data";
            myInput.type = "hidden";
            myInput.value='';

            count = 0;
            for (var i = 0; i < select_right.options.length; i++) {
                for (var j = 0; j < lessons.length; j++) {
                    if(lessons[j].lesson_name == select_right.options[i].value){
                        js+='"'+count + '":' + lessons[j].id + ',';
                        count++;
                        break;
                    }
                }
            }
            js+='"count":'+count+'}';
            myInput.value = js;
            myForm.appendChild(myInput);
            //submit();

        }

        function submit() {
            var myForm = document.getElementById('add_data');
            myForm.submit();
        }

        function create_select_lesson_left() {
            select_lesson = '<select name="select_lesson_left" id="select_lesson_left" size="8" style="width: 200px;">';
            for (var i = 0; i < lessons.length; i++) {
                select_lesson += '<option>'+lessons[i].lesson_name+'</option>';
            }
            return select_lesson + '</select>';
        }

        function move_right() {
            select_left = document.getElementById('select_lesson_left');
            select_right = document.getElementById('select_lesson_right');
            index = select_left.selectedIndex;
            if(index > -1)
              select_right.appendChild(select_left.options.item(index));
        }

        function move_left() {
            select_left = document.getElementById('select_lesson_left');
            select_right = document.getElementById('select_lesson_right');
            index = select_right.selectedIndex;
            if(index > -1)
              select_left.appendChild(select_right.options.item(index));
        }
    </script>
    {% extends "base.html" %}
</head>
<body>

{% block content %}

<center>
    <p></p>
    <form action="" method="post" name="add_data" id="add_data">
        {{ form.hidden_tag() }}
        <div class="tabs">

            <input type="radio" name="inset" value="teachers" id="tab_1">
            <label for="tab_1">Преподаватели</label>
            <input type="radio" name="inset" value="groups" id="tab_2" checked>
            <label for="tab_2">Группы</label>
            <input type="radio" name="inset" value="lessons" id="tab_3">
            <label for="tab_3">Дисциплины</label>

            {% if inset == 'teachers'|string() %}
            <input type="radio" name="inset" value="teachers" id="tab_1" checked>
            {% elif inset == 'groups'|string() %}
            <input type="radio" name="inset" value="groups" id="tab_2" checked>
            {% elif inset == 'lessons'|string() %}
            <input type="radio" name="inset" value="lessons" id="tab_3" checked>
            {% endif %}

            <div id="teachers">
                <input type="button" value="Добавить" onclick="add_t()"><input type="button"
                                                                               value="Редактировать" onclick="edit_t()"><input
                    type="button" value="Удалить" onclick="del_t()">
                <br>
                <div id="data_d">

                </div>

            </div>
            <div id="groups">
                <table class="tb">
                    <tr class="tr">
                        <th class="th">
                            Добавление групп
                        </th>
                        <th class="th">
                            Редактирование групп
                        </th>
                        <th class="th">
                            Удаление групп
                        </th>
                    </tr>
                    <tr class="tr">
                        <td class="td">
                            <table>
                                <tr>
                                    <td>
                                        <input type="text" name="add_group" value=""
                                               placeholder="Наименование группы" style="width: 250px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button name="Submit" value="Добавить" style="width: 250px;" onclick="submit()">Добавить</button>

                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td class="td">
                            <table>
                                <tr>
                                    <td>
                                        <select name="edit_group_select" style="width: 250px;">
                                            {% if groups %}
                                            {% for group in groups %}
                                            <option>{{group.group_name}}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" name="new_group_name" value=""
                                               placeholder="Новое наименование"
                                               style="width: 250px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button name="Submit" value="Редактировать" style="width: 250px;" onclick="submit()">Редактировать</button>
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td class="td">
                            <table>
                                <tr>
                                    <td>
                                        <select name="del_group_select" style="width: 250px;">
                                            {% if groups %}
                                            {% for group in groups %}
                                            <option>{{group.group_name}}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button name="Submit"  value="Удалить" style="width: 250px;" onclick="submit()">Удалить</button>
                                    </td>
                                </tr>
                            </table>
                        </td>

                    </tr>
                </table>
            </div>
            <div id="lessons">
                <table class="tb">
                    <tr class="tr">
                        <th class="th">
                            Добавление дисциплин
                        </th>
                        <th class="th">
                            Редактирование дисциплин
                        </th>
                        <th class="th">
                            Удаление дисциплин
                        </th>
                    </tr>
                    <tr class="tr">
                        <td class="td">
                            <table>
                                <tr>
                                    <td>
                                        <input type="text" name="add_lesson" value=""
                                               placeholder="Наименование дисциплины" style="width: 250px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button name="Submit" value="Добавить" style="width: 250px;" onclick="submit()">Добавить</button>
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td class="td">
                            <table>
                                <tr>
                                    <td>
                                        <select name="edit_lesson_select" style="width: 250px;">
                                            {% if lessons %}
                                            {% for lesson in lessons %}
                                            <option>{{lesson.lesson_name}}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" name="new_lesson_name" value=""
                                               placeholder="Новое наименование"
                                               style="width: 250px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button name="Submit" value="Редактировать" style="width: 250px;" onclick="submit()">Редактировать</button>
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td class="td">
                            <table>
                                <tr>
                                    <td>
                                        <select name="del_lesson_select" style="width: 250px;">
                                            {% if lessons %}
                                            {% for lesson in lessons %}
                                            <option>{{lesson.lesson_name}}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button name="Submit" value="Удалить" style="width: 250px;">Удалить</button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</center>





{% endblock %}
</body>
</html>
